@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 246, 234);

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
}

h1 {
  font-family: "DM Sans", sans-serif;
}

.header-text {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.testimonials {
  overflow: auto; /* Ensures scrolling is possible if needed */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.testimonials::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* CSS BACKGROUND  */
.background-polka {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(#2bbcff 0.5px, #ffffff 0.5px);
  background-size: 10px 10px;
}

/* swiper js css  */
.swiper-pagination {
  bottom: 0px !important;
  text-align: center !important;
}

.swiper-pagination-bullet {
  background: #16a34a !important; /* customGreen */
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

/* // Google Translate Customization */

#google_translate_element select {
  background: white;
  border: 1px solid #ddd;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.goog-te-gadget img {
  display: none !important; /* remove globe icon */
}

/* animations  */

.slide-in-left {
  -webkit-animation: slide-in-left 4.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* background animation  */
.bg-pan-left {
  -webkit-animation: bg-pan-left 8s both;
  animation: bg-pan-left 8s both;
}

/* WEBKIT  */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* slide btn  */

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* webkit for background animation  */
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
