.africa-map-container path {
  fill: #ccc; /* default */
  stroke: #fff;
  stroke-width: 1;
  transition: fill 0.3s;
}

.africa-map-container path[data-name="Nigeria"],
.africa-map-container path[data-name="Ghana"],
.africa-map-container path[data-name="Senegal"],
.africa-map-container path[data-name="Sierra Leone"],
.africa-map-container path[data-name="Morocco"],
.africa-map-container path[data-name="Tunisia"],
.africa-map-container path[data-name="Kenya"],
.africa-map-container path[data-name="Ethiopia"],
.africa-map-container path[data-name="Tanzania"],
.africa-map-container path[data-name="Comoros"],
.africa-map-container path[data-name="Madagascar"],
.africa-map-container path[data-name="Mozambique"],
.africa-map-container path[data-name="South Africa"],
.africa-map-container path[data-name="Zambia"],
.africa-map-container path[data-name="Botswana"],
.africa-map-container path[data-name="Angola"],
.africa-map-container path[data-name="South Sudan"],
.africa-map-container path[data-name="Gabon"] {
  fill: #28a745; /* green */
}

.africa-map-container path:hover {
  fill: #34d058;
  cursor: pointer;
}
